<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.travel.backend.mapper.UserMapper">


    <select id="getByUopenid" resultType="com.travel.backend.domain.model.User">
        select * from user where uopenid = #{openid} and status = 1
    </select>
</mapper>